.work {
    box-sizing: border-box;
    grid-area : work;
    display   : flex;
    overflow  : hidden;

    .draw {
        box-sizing: border-box;
        position  : relative;
        flex      : 1;
        overflow  : auto;
        cursor    : crosshair;

        .scale {
            position: relative;
            z-index : 1;

            &::after {
                content   : "";
                position  : absolute;
                top       : 0;
                left      : 0;
                display   : block;
                width     : 18px;
                height    : 18px;
                background: rgb(70, 70, 70);
                box-shadow: 2px 6px 12px 4px rgba(30, 30, 30, .6);
            }

            .scale_x {
                position  : sticky;
                top       : 0;
                left      : 0;
                height    : 18px;
                background: rgb(80, 80, 80);

                &>canvas {
                    height    : 18px;
                    background: rgb(80, 80, 80);
                    box-shadow: 0px 2px 6px 0px rgba(30, 30, 30, .6);
                }
            }

            .scale_y {
                position  : sticky;
                top       : 0;
                left      : 0;
                width     : 18px;
                background: rgb(80, 80, 80);

                &>canvas {
                    position  : relative;
                    top       : -17px;
                    width     : 18px;
                    background: rgb(80, 80, 80);
                    box-shadow: 2px 0px 6px 0px rgba(30, 30, 30, .6);
                }
            }
        }

        .canvas {
            box-sizing      : border-box;
            position        : absolute;
            background-image: url(data:image/png;base64,R0lGODlhEAAQAIAAAP///9bW1iH5BAAAAAAALAAAAAAQABAAAAIfjG+gq4jM3IFLJgpswNly/XkcBpIiVaInlLJr9FZWAQA7);

            .svg {
                transition: all 500ms cubic-bezier(0.16, 0.66, 0.28, 0.96);
            }
        }

        .subline {
            user-select: none;

            &>div {
                position        : absolute;
                top             : 0;
                right           : 0;
                bottom          : 0;
                left            : 0;
                background-color: blueviolet;
            }

            .subline_x {
                top             : 0;
                height          : 1px;
                background-image: linear-gradient(to right, blueviolet, deepskyblue);
            }

            .subline_y {
                left            : 0;
                width           : 1px;
                background-image: linear-gradient(deeppink, deepskyblue);
            }
        }
    }
}