.tool {
    box-sizing      : border-box;
    grid-area       : tool;
    padding         : 0px;
    background-color: rgb(45, 45, 45);
    border-right    : 1px solid rgb(100, 100, 100);
    overflow-y      : auto;
}